<a href="https://colab.research.google.com/github/eeks196/MATH4570-Group-Project/blob/main/Math4570.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.formula.api import ols
from sklearn.linear_model import LinearRegression

In [10]:
crispr_gene_effect = pd.read_csv('CRISPRGeneEffect.csv')
crispr_gene_effect.head()

,Unnamed: 0,A1BG (1),A1CF (29974),A2M (2),A2ML1 (144568),A3GALT2 (127550),A4GALT (53947),A4GNT (51146),AAAS (8086),AACS (65985),...,ZWILCH (55055),ZWINT (11130),ZXDA (7789),ZXDB (158586),ZXDC (79364),ZYG11A (440590),ZYG11B (79699),ZYX (7791),ZZEF1 (23140),ZZZ3 (26009)
0,ACH-000004,0.014633,-0.032777,-0.151299,-0.071388,0.046511,-0.162850,0.290698,-0.240991,0.176710,...,-0.188857,-0.389649,0.112266,-0.002883,0.155729,0.077283,-0.294451,0.143978,0.197069,-0.003338
1,ACH-000005,-0.261566,0.174833,0.106526,0.135635,-0.076753,-0.278640,0.239279,-0.325967,-0.116848,...,-0.195492,-0.360578,-0.126277,-0.059287,0.080543,-0.161894,-0.070230,-0.006275,0.002458,0.014259
2,ACH-000007,-0.028717,-0.117017,0.030971,0.083795,0.032668,-0.035709,0.012355,-0.192436,-0.077174,...,-0.200402,-0.382707,0.006843,0.199553,0.064425,-0.031683,-0.291406,-0.065945,-0.260946,-0.329018
3,ACH-000009,0.000225,-0.283124,0.051248,0.120321,0.022834,-0.077522,0.028013,-0.190495,0.031589,...,-0.179775,-0.285412,-0.029599,0.227176,-0.097506,-0.136990,-0.421927,0.050002,-0.107675,-0.249623
4,ACH-000011,0.095791,-0.099622,0.022204,0.199771,-0.048126,-0.290812,-0.013277,-0.095840,0.090307,...,-0.671885,-0.558008,0.020997,0.011011,0.206251,0.086453,-0.166360,-0.055975,-0.159886,-0.311232

In [11]:
crispr_gene_effect.isnull().mean()
cripsr_gene_effect = crispr_gene_effect.dropna()
cripsr_gene_effect

,Unnamed: 0,A1BG (1),A1CF (29974),A2M (2),A2ML1 (144568),A3GALT2 (127550),A4GALT (53947),A4GNT (51146),AAAS (8086),AACS (65985),...,ZWILCH (55055),ZWINT (11130),ZXDA (7789),ZXDB (158586),ZXDC (79364),ZYG11A (440590),ZYG11B (79699),ZYX (7791),ZZEF1 (23140),ZZZ3 (26009)
0,ACH-000004,0.014633,-0.032777,-0.151299,-0.071388,0.046511,-0.162850,0.290698,-0.240991,0.176710,...,-0.188857,-0.389649,0.112266,-0.002883,0.155729,0.077283,-0.294451,0.143978,0.197069,-0.003338
1,ACH-000005,-0.261566,0.174833,0.106526,0.135635,-0.076753,-0.278640,0.239279,-0.325967,-0.116848,...,-0.195492,-0.360578,-0.126277,-0.059287,0.080543,-0.161894,-0.070230,-0.006275,0.002458,0.014259
2,ACH-000007,-0.028717,-0.117017,0.030971,0.083795,0.032668,-0.035709,0.012355,-0.192436,-0.077174,...,-0.200402,-0.382707,0.006843,0.199553,0.064425,-0.031683,-0.291406,-0.065945,-0.260946,-0.329018
3,ACH-000009,0.000225,-0.283124,0.051248,0.120321,0.022834,-0.077522,0.028013,-0.190495,0.031589,...,-0.179775,-0.285412,-0.029599,0.227176,-0.097506,-0.136990,-0.421927,0.050002,-0.107675,-0.249623
4,ACH-000011,0.095791,-0.099622,0.022204,0.199771,-0.048126,-0.290812,-0.013277,-0.095840,0.090307,...,-0.671885,-0.558008,0.020997,0.011011,0.206251,0.086453,-0.166360,-0.055975,-0.159886,-0.311232
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
574,ACH-000943,-0.097681,-0.392264,-0.003946,0.041730,-0.022736,0.031629,0.046058,-0.265731,-0.043501,...,-0.255843,-0.938993,0.077728,0.170086,-0.041127,-0.008872,-0.069765,-0.070304,-0.041666,-0.239443
575,ACH-000944,-0.132604,-0.144508,0.005648,-0.007365,-0.123701,-0.015769,0.050392,-0.086459,0.064287,...,-0.081015,-0.355906,0.065178,0.053896,-0.087505,0.001277,-0.331300,-0.089522,-0.157698,-0.177375
576,ACH-000946,0.038562,-0.196007,0.054438,0.039086,0.077201,-0.122287,-0.114872,-0.116682,0.056103,...,-0.215402,-0.652183,0.016572,0.045669,0.049687,-0.043877,-0.210102,0.146356,-0.202672,0.051726
577,ACH-000947,-0.069379,-0.040599,0.031848,0.051784,0.017885,-0.090565,0.036035,-0.114009,0.015890,...,-0.339039,-0.817334,0.118868,0.028213,0.037299,-0.047058,-0.095526,-0.061795,-0.148512,-0.077392
578,ACH-000948,-0.067425,-0.066019,0.146641,0.085683,-0.034557,0.073220,-0.039452,-0.248670,0.069735,...,-0.231435,-0.765622,0.136195,0.203005,0.098904,-0.001504,-0.101559,0.022006,-0.043314,-0.275013